.alb {
    //font-size: $font-size;
    color: #693cc2;
    margin: auto;
    width: 50px;
    background: url(../assets/Elastic-Load-Balancing-ELB_Application-load-balancer_light-bg.svg)
      no-repeat left center;
    background-size: 50px;
    height: 50px;
    transform-style: preserve-3d;
    transform: rotateZ(-90deg);
  }